body {
    background-color: #1a1612;
    font-family: monospace;
    color: #ffffff;
    overflow: hidden;
}

#score {
    position: absolute;
    left: 50%;
    top: 2%;
    text-align: center;
    font-size: 40px;
    transform: translate(-50%, 0%);
}

#highscore {
    position: absolute;
    left: 50%;
    top: 10%;
    text-align: center;
    font-size: 20px;
    transform: translate(-50%, 0%);

}

#snakeCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type=button] {
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: #6d6d6d;
    color: black;
    font-family: monospace;
    border-radius: 20px;
    border: 1px solid #292929;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=button]:hover {
    background-color: #c1cdd6;
}