body {
    background-color: #1a1612;
    font-family: monospace;
    color: #ffffff;
    overflow: hidden; 
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

#score {
    text-align: center;
    font-size: 50px;
}

#highscore {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

#snakeCanvas {
    margin-left: 50%;
    margin-top: 230px;
    transform: translate(-50%, -50%);
}

input[type=button] {
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: #6d6d6d;
    color: black;
    font-family: monospace;
    border-radius: 20px;
    border: 1px solid #292929;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=button]:hover{
    background-color: #c1cdd6;
}